# build artifacts
LinearAlgebra.toc
metadata.json
**/*.png
**/*.svg
**/*.4ct
**/*.4tc
**/*.aux
**/*.auxlock
**/*.dvi
**/*.html
**/*.ids
**/*.idv
**/*.jax
**/*.log
**/*.lg
**/*.out
**/*.oc
**/*.tmp
**/*.xref
**/*.pdf
**/*figure*
